*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  aspect-ratio: 1;
  background: #000;
  border-radius: 50%;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(12px);
}